@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------Colors*/

.bg-color-contact {
    background-color: #ffffff;
}

.bg-color-maps {
    background-color: #f4f4f4;
}

.ui-menu-color-home {
    background-color: #e67e22;
}

.ui-menu-color-destinations {
    background-color: #9b59b6;
}

.ui-menu-color-charts {
    background-color: #06991e;
}

.ui-menu-color-contact {
    background-color: #3498db;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    background-color: #FFFFFF;
    color: #555555;
}

/*--------------------------------------------Special Paddings/Margins/Text*/

.section-heading {
    text-align: center;
}


h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
    margin-left: 60px;
    
}

/*--------------------------------------------Heading*/

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 5px;
}

.logo {
    background: url("../images/mexico.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 125px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #ffffff;
}

#nav {
    margin: 0;
}

#nav li {
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 120px;
}


.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}


.iframe {
    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #000000;
}


/*--------------------------------------------Hover.css*/

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}


/*--------------------------------------------Footer*/

footer {
    background-color: #a728e0;
    color: #fafafa;
    min-height: 100px;
    margin: 0;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

a {
    color: #000000;
    text-decoration: none;
}

#footer-details {
    margin: 20px;
}

/*--------------------------------------------Contact*/

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}


.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #e84610;
    color: #fafafa;
}

/*--------------------------------------------Map*/

#map {
    height: 500px;
}

/*--------------------------------------------Media Queries*/

@media(min-width: 992px) {
    .section-column {
        float: none;
        display: table-cell;
    }

    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}